option#h-ana {
    color: blue;
}
option#h-baptist {
    color: skyblue;
}
option#h-lucio {
    color: yellowgreen;
}
option#h-mercy {
    color: tan;
}
option#h-zen {
    color: goldenrod;
}
option#h-moira {
    color: darkorchid;
}
option#h-brig {
    color: brown;
}