body {
    margin: 0;
    padding: 0;
}
/* 기본 margin값과 padding값 초기화(reset) */
div {
    background: #cc9bbb;
    width: 220px;
    height: 60px;
    margin: 20px; /* 요소 간 위, 아래, 좌, 우 모두 20px씩 여백이 추가됨 */
    padding: 20px; /* 요소 내부에 위, 아래, 좌, 우 모두 20px씩 여백이 추가됨 */
}
span {
    background: #2c142a;
    color: thistle;
    width: 220px;
    /* 인라인 요소는 크기를 지정할 수 없으므로 위와 같이 width값 입력하여도 크기 변화 없음 */
    height: 1px;
    /* height값도 마찬가지로, 어떤 값을 입력하여도 크기 변화 없음 (span 태그 내의 콘텐츠(본 예제에서는 텍스트) 크기만큼만 나타남) */
    margin: 20px; /* 요소 간 좌, 우에만 20px씩 여백이 추가됨 */
    /*
    padding: 20px;
    */
    /* padding값을 지정하게 되면 요소 내부에 여백이 생긴 것처럼 보이기는 하나, 실제로 여백을 생성한 것이 아니므로 위, 아래 글자가 겹쳐진다. */
}